@font-face {
    font-family: 'robotoregular';
    src: url('Roboto/Roboto-Regular-webfont.eot');
    src: url('Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'robotoregular', Arial, sans-relief;
	min-width: 300px;
	font-size : 16px;
}

.content {

	min-width: 375px;
}

/* <<< HEADER >>> */

.logo img {

	width: 65%;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 60px;
}

.arrow  {

	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
}




/* <<< SECTION >>> */

.restaurant-picture {


	height: 320px;
	width: 101%;
	padding-left: 2.5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/restaurants/rouge.jpg);
}

.section-block {

	border: 2px solid #F2F2F2;
	background-color: #F2F2F2;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	width: 100%;
	padding-left: 15px;
	position: relative;
	top: -25px;
}

h2 {

	display: flex;
	justify-content: space-between;
}

.icon {

	cursor: pointer;
	margin-right: 20px;
}	

.fa-heart {

	margin-right: 25px;
	cursor: pointer;
}

.fa-heart:hover {

	background: -webkit-linear-gradient(0deg, rgba(187,100,220,1) 5%, rgba(147,86,220,1) 32%, rgba(195,103,220,1) 67%, rgba(255,125,219,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
}



.frame-french {

	border: 1px solid white;
	background-color: white;
	width: 350px;
	border-radius: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
	margin-left: -10px;
	box-shadow: 2px 2px 4px grey;
	cursor: pointer;
	animation: slideDown 5s;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}


.line {

	padding-bottom: 20px;
	padding-left: 10px;
	padding-top: 20px;


}

span {

	font-weight: bold;
}

.price-green {

	display: flex;
	flex-direction: row;

}

.price {

	font-weight: bold;
	padding: 20px;
	display: flex;
	align-self: flex-end;
	transform: translateX(70px);
	
}	

.frame-green {

	background-color: #99E2D0;
	width: 80px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-overflow: ellipsis;
	transform: translateX(80px);
	
}


.frame-french:hover .frame-green {

	animation: greenprice 1.8s linear alternate forwards;

}

.frame-french:hover .price {

	animation: pricegreen 1.8s linear alternate forwards;
}


@keyframes greenprice {

	0% {

		transform: translateX(80px);
	}

	100% {

		transform: translateX(0);
	}
}


@keyframes pricegreen {

	from {

		transform: translateX(70px);
	}

	to {

		transform: translateX(0);
	}
}

.fa-check-circle {

	font-size: 25px;
	color: white;
	animation: icone-spin 3.5s linear 1.5s alternate running;
}


@keyframes icone-spin {

	0% {

		transform: rotate(0deg);
	}

	100% {

		transform: rotate(360deg);
	}
}

h3 {

	animation: slideDown 5s;
}

.button-order {

	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center;
	background: rgb(147,86,220);
	background: linear-gradient(150deg, rgba(147,86,220,1) 0%, rgba(154,88,220,1) 25%, 
	rgba(164,92,220,1) 50%, rgba(205,107,220,1) 75%, rgba(255,125,219,1) 100%);
	color: white;
	width: 60%;
	border-radius: 25px;
	margin-left: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	box-shadow: 3px 3px 6px #afaaaa;
	transition-property: transform;
	transition-duration: 600ms;

}

.button-order:hover {

	transform: scale(1.15);
	background: rgb(255,125,219);
	background: linear-gradient(150deg, rgba(255,125,219,1) 0%, rgba(205,107,220,1) 69%, 
	rgba(164,92,220,1) 80%, rgba(154,88,220,1) 91%, rgba(147,86,220,1) 100%);
	
}


h2 {

	font-family: 'Shrikhand', cursive;
	padding-bottom: 20px;
	font-size: 30px;
}

h3 {

	padding-bottom: 15px;
	padding-top: 15px;
}


/* <<< FOOTER >>> */


.footer-index {

	border: 2px solid #5b5b5b;
	background-color: #5b5b5b;
	color: white;
	width: 100.5%;
	margin-top: -25px;

}

.credit-footer {

	list-style-type: none;

}

li {

	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
}

.fa-utensils {

	padding-right: 10px;
}

.fa-hands-helping {

	padding-right: 10px;
}

h4 {

	padding-top: 30px;
	padding-left: 40px;
	
}


@media screen and (min-width: 435px) {

.fa-heart {

	padding-left: 35%;
}

.frame-french {

	width: 410px;
	animation: slideDown 5s;
}


@media screen and (min-width: 480px) {

	.frame-french {

		width: 450px;
		margin-left: 10px;
	}
}

@media screen and (min-width: 545px){

.frame-french {

	width: 90%;
	margin-left: 15px;
}	

.frame-green {

	transform: translateX(90px);
}

.price {

	transform: translateX(80px);
}

.frame-french:hover .frame-green {

	animation: greenprice 1.8s linear alternate forwards;

}

.frame-french:hover .price {

	animation: pricegreen 1.8s linear alternate forwards;
}


@keyframes greenprice {

	0% {

		transform: translateX(90px);
	}

	100% {

		transform: translateX(0);
	}
}


@keyframes pricegreen {

	from {

		transform: translateX(80px);
	}

	to {

		transform: translateX(0);
	}
}


}

@media screen and (min-width: 650px) {

footer li {

	display: flex;
	justify-content: center;

}

h4 {

	display: flex;
	justify-content: center;
	padding-left: 0 auto;
	font-family: 'Shrikhand', cursive;
	font-size: 25px;
	
}

.fa-heart {

	padding-left: 35%;
}


.button-order {

	justify-content: center;
	width: 250px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

@media screen and (min-width: 800px){

	.fa-heart {

		padding-left: 55%;
	} 
}


@media screen and (min-width: 925px) {

	.logo img {

		width: 75%;

	}

	.arrow {

		justify-content: space-between;
	}

	.frame-block {

		display: flex;
		flex-direction: column;
	}

	.frame-french {

		width: 75%;
		height: 100px;
		margin-bottom: 30px;
		margin-right: 20px;

	}

	.line {

		padding-right: 20px;
		padding-left: 20px;
	}

	.restaurant-picture {

		width: 100%;
	}
	
	.button-order {

	justify-content: center;
	width: 250px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;

	}

	.footer-index {

		width: 100%;
	}

	h2 {

		text-align: left;
	}

	.fa-heart {

		padding-left: 45%;
	}	
}


@media screen and (min-width: 1080px){

	.frame-french {

		width: 80%;
	}
}

@media screen and (min-width: 1200px) {


	.frame-block {

		flex-direction: column;
		align-items: center;
		
	}

	.frame-french {

		width: 100%;
	}


	.line {

		padding: 35px;
	}

	.fa-heart {

		padding-left: 50%;
	}
		

.frame-green {


	transform: translateX(90px);
}

.price {

	transform: translateX(80px);
}

.frame-french:hover .frame-green {

	animation: greenprice 1.8s linear alternate forwards;

}

.frame-french:hover .price {

	animation: pricegreen 1.8s linear alternate forwards;
}


@keyframes greenprice {

	0% {

		transform: translateX(90px);
	}

	100% {

		transform: translateX(0);
	}
}


@keyframes pricegreen {

	from {

		transform: translateX(80px);
	}

	to {

		transform: translateX(0);
	}

}

@media screen and (min-width: 1450px) {

	.fa-heart {

		padding-left: 50%;
	}

	.frame-block {

		flex-direction: row;
		justify-content: space-around;
		margin-left: 20px;
	}

	.frame-french {

		width: 90%;
	}

	.frame-green {

	transform: translateX(90px);
}

.price {

	transform: translateX(80px);
}

.frame-french:hover .frame-green {

	animation: greenprice 1.8s linear alternate forwards;

}

.frame-french:hover .price {

	animation: pricegreen 1.8s linear alternate forwards;
}


@keyframes greenprice {

	0% {

		transform: translateX(90px);
	}

	100% {

		transform: translateX(0);
	}
}


@keyframes pricegreen {

	from {

		transform: translateX(80px);
	}

	to {

		transform: translateX(0);
	}
}

@keyframes slideDown {

	0% {

		transform: translateY(-50px);
		opacity: 0;

	}

	100% {

		transform: translateY(0);
		opacity: 1;
	}
}
