@font-face {
    font-family: 'robotoregular';
    src: url('Roboto/Roboto-Regular-webfont.eot');
    src: url('Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {

	font-family: 'robotoregular', Arial, sans-relief;
	min-width: 250px;
	font-size : 16px;
}


/* <<< HEADER >>> */

h1 {

	text-align: center;
}


/* <<< SECTION >>> */


.section-block {

	border: 2px solid #F2F2F2;
	background-color: #F2F2F2;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	width: 100%;
	padding-left: 15px;
}

.fa-heart {

	padding-left: 200px;
	cursor: pointer;
}

.frame-french {

	border: 1px solid white;
	background-color: white;
	width: 97%;
	border-radius: 25px;
	margin-bottom: 10px;
}


/* <<< FOOTER >>> */


.footer-index {

	border: 2px solid #5b5b5b;
	background-color: #5b5b5b;
	color: white;
	width: 100%;

}

.credit-footer {

	list-style-type: none;
}

li {

	padding-bottom: 10px;
	padding-top: 10px;
}

.icone-footer {

	padding-left: 10px;
}