@font-face {
    font-family: 'robotoregular';
    src: url('Roboto/Roboto-Regular-webfont.eot');
    src: url('Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'robotoregular', Arial, sans-relief;
	min-width: 285px;
	font-size : 16px;
}

.content {

	min-width: 300px;
}

/* <<< HEADER >>> */

.logo img {

	width: 65%;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 60px;
}

.arrow  {

	display: flex;
	align-items: center;
	margin-left: 10px;
}

/* <<< SECTION >>> */

.restaurant-picture {


	height: 320px;
	width: 101%;
	padding-left: 2.5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/restaurants/menilmontant.jpg);
}

.section-block {

	border: 2px solid #F2F2F2;
	background-color: #F2F2F2;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	width: 100%;
	padding-left: 15px;
	position: relative;
	top: -25px;
}

.fa-heart {

	display: flex;
	align-items: flex-end;
	cursor: pointer;
	padding-left: 15%;
}


.frame-french {

	border: 1px solid white;
	background-color: white;
	width: 95%;
	height: 90px;
	border-radius: 25px;
	margin-bottom: 15px;
	margin-top: 10px;
	box-shadow: 2px 2px 4px grey;
	cursor: pointer;
	animation: slideDown 5s;
}


h3 {

	animation: slideDown 5s;
}

.button-order {

	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center;
	background: rgb(147,86,220);
	background: linear-gradient(150deg, rgba(147,86,220,1) 0%, rgba(154,88,220,1) 25%, 
	rgba(164,92,220,1) 50%, rgba(205,107,220,1) 75%, rgba(255,125,219,1) 100%);
	color: white;
	width: 60%;
	border-radius: 25px;
	margin-left: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	box-shadow: 3px 3px 6px #afaaaa;
	transition-property: transform;
	transition-duration: 600ms;

}

.button-order:hover {

	transform: scale(1.15);
	background: rgb(255,125,219);
	background: linear-gradient(150deg, rgba(255,125,219,1) 0%, rgba(205,107,220,1) 69%, 
	rgba(164,92,220,1) 80%, rgba(154,88,220,1) 91%, rgba(147,86,220,1) 100%);
	
}


.line1 {

	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;

}

.line2 {

	padding-left: 20px;	
	display: flex;
	justify-content: space-between;

}

.price {

	font-weight: bold;
	padding-right: 20px;
}

h2 {

	font-family: 'Shrikhand', cursive;
	padding-bottom: 20px;
	font-size: 30px;
}

h3 {

	padding-bottom: 15px;
	padding-top: 15px;
}


/* <<< FOOTER >>> */


.footer-index {

	border: 2px solid #5b5b5b;
	background-color: #5b5b5b;
	color: white;
	width: 100.5%;
	margin-top: -25px;

}

.credit-footer {

	list-style-type: none;

}

li {

	padding-bottom: 10px;
	padding-top: 10px;
}

.fa-utensils {

	padding-right: 10px;
}

.fa-hands-helping {

	padding-right: 10px;
}

h4 {

	padding-top: 30px;
	padding-left: 40px;
	
}


@media screen and (min-width: 435px) {

.fa-heart {

	padding-left: 35%;
}

}

@media screen and (min-width: 650px) {

footer li {

	display: flex;
	justify-content: center;

}

h4 {

	display: flex;
	justify-content: center;
	padding-left: 0 auto;
	font-family: 'Shrikhand', cursive;
	font-size: 25px;
	
}

.fa-heart {

	padding-left: 55%;
}


.button-order {

	justify-content: center;
	width: 250px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

}

@media screen and (min-width: 800px){

	.fa-heart {

		padding-left: 65%;
	} 
}


@media screen and (min-width: 925px) {

	.logo img {

		width: 75%;

	}

	.arrow {

		justify-content: space-between;
	}

	.frame-block {

		display: flex;
		justify-content: space-around;
	}

	.frame-french {

		width: 102%;
		height: 100px;
		margin-bottom: 30px;
		margin-right: 20px;

	}

	.restaurant-picture {

		width: 100%;
	}
	
	.button-order {

	justify-content: center;
	width: 250px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;

	}

	.footer-index {

		width: 100%;
	}

	h2 {

		text-align: left;
	}

	.fa-heart {

		padding-left: 65%;
	}	
}


@media screen and (min-width: 1080px){

	.frame-french {

		width: 110%;
	}
}




@media screen and (min-width: 1200px) {

	.frame-french {

		width: 120%;
	}

	.fa-heart {

		padding-left: 75%;
	}
}

@media screen and (min-width: 1400px) {

	.fa-heart {

		padding-left: 80%;
	}
}

@keyframes slideDown {

	0% {

		transform: translateY(-50px);
		opacity: 0;

	}

	100% {

		transform: translateY(0);
		opacity: 1;
	}
}
