@font-face {
    font-family: 'robotoregular';
    src: url('Roboto/Roboto-Regular-webfont.eot');
    src: url('Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'robotoregular', Arial, sans-relief;
	min-width: 300px;
	font-size : 16px;
}

.content {

	min-width: 375px;
}

/* <<< HEADER >>> */

.logo img {

	width: 65%;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 60px;
}

.arrow  {

	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
}

.fa-arrow-left {

	color: black;
}


/* <<< SECTION >>> */

.restaurant-picture {


	height: 320px;
	width: 101%;
	padding-left: 2.5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/restaurants/folie.jpg);
}

.section-block {

	border: 2px solid #F2F2F2;
	background-color: #F2F2F2;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	width: 100%;
	padding-left: 15px;
	position: relative;
	top: -25px;
}

h2 {

	display: flex;
	justify-content: space-between;
}

.icon {

	cursor: pointer;
	margin-right: 20px;
}	

.fa-heart {

	margin-right: 25px;
	cursor: pointer;
}

.fa-heart:hover {

	background: -webkit-linear-gradient(0deg, rgba(187,100,220,1) 5%, rgba(147,86,220,1) 32%, rgba(195,103,220,1) 67%, rgba(255,125,219,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
}


.line-menu {
	border: 1px solid white;
	width: 95%;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 4px grey;
    align-items: center;
    border-radius: 15px;
    animation: slideDown 3s linear forwards;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
}   

.line {

	padding-left: 10px;
    width: 50%;
}

.line-menu-green {
    display: flex;
}

.line-menu-green > span {
    margin: 5px 0;
    align-self: flex-end;
}   

.line-menu-green span:first-child {
    transform: translateX(54px);
    font-weight: bold;
    transition: transform 330ms ease-in-out;
} 

.icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 60px;
    height: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateX(60px);
    transition: transform 330ms ease-in-out;
}

span {

	padding-right: 10px;

}

.icon-menu > i {
    font-size: 25px;
    color: white;
}

.line-menu:hover .icon-menu i {
    animation: rotation 0.6s linear ;
}

.line-menu:hover .line-menu-green span:first-child {
    animation: slide-left-price 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}


.line-menu:hover .line-menu-green .icon-menu {
    animation: slide-left-icon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.genre {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line {
    display: flex;
    flex-direction: column;
}

.line-menu:hover .icon-menu i {
    animation: rotation 2.5s linear ;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-left-price {
    0% {
        transform: translateX(54px);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes slide-left-icon {
    0% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


h3 {

	animation: slideDown 3s linear forwards;
	border-bottom: 2px solid #99E2D0;
	width:50px;
	text-align:left;
	margin-left:0; 
}

@keyframes slideDown {

	0% {

		transform: translateY(-50px);
		opacity: 0;

	}

	100% {

		transform: translateY(0);
		opacity: 1;
	}
}

.button-order {

	margin-top: 60px;
	margin-bottom: 100px;
	text-align: center;
	background: rgb(147,86,220);
	background: linear-gradient(150deg, rgba(147,86,220,1) 0%, rgba(154,88,220,1) 25%, 
	rgba(164,92,220,1) 50%, rgba(205,107,220,1) 75%, rgba(255,125,219,1) 100%);
	color: white;
	width: 50%;
	border-radius: 25px;
	margin-left: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	box-shadow: 3px 3px 6px #afaaaa;
	transition-property: transform;
	transition-duration: 600ms;

}

.button-order:hover {

	transform: scale(1.15);
	background: rgb(255,125,219);
	background: linear-gradient(150deg, rgba(255,125,219,1) 0%, rgba(205,107,220,1) 69%, 
	rgba(164,92,220,1) 80%, rgba(154,88,220,1) 91%, rgba(147,86,220,1) 100%);
	
}


h2 {

	font-family: 'Shrikhand', cursive;
	padding-bottom: 20px;
	font-size: 30px;
}

h3 {

	padding-bottom: 15px;
	padding-top: 15px;
}


/* <<< FOOTER >>> */


.footer-index {

	border: 2px solid #353535;
	background-color: #353535;
	color: white;
	width: 100.5%;
	margin-top: -25px;

}

.credit-footer {

	list-style-type: none;

}

li {

	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
}

.fa-utensils {

	padding-right: 10px;
}

.fa-hands-helping {

	padding-right: 10px;
}

h4 {

	padding-top: 30px;
	padding-left: 40px;
	font-size: 20px;
	font-family: 'Shrikhand', cursive;
	
}



@media screen and (min-width: 650px) {

footer li {

	display: flex;
	justify-content: center;

}

h4 {

	display: flex;
	justify-content: center;
	padding-left: 0;
	font-size: 25px;
	
}

.fa-heart {

	padding-left: 35%;
}


.button-order {

	justify-content: center;
	width: 250px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	
}



@media screen and (min-width: 925px) {

	.logo img {

		width: 75%;

	}

	.arrow {

		justify-content: space-between;
	}

	.frame-block {

		display: flex;
		flex-direction: column;
	}


	.restaurant-picture {

		width: 100%;
	}
	

	.footer-index {

		width: 100%;
	}

	h2 {

		text-align: left;
	}

	.fa-heart {

		padding-left: 45%;
	}	
}



@media screen and (min-width: 1200px) {


	.frame-block {

		flex-direction: column;
		align-items: center;
		
	}


	.fa-heart {

		padding-left: 45%;
	}
		
.line-menu {

	width: 600px;
}

@media screen and (min-width: 1580px) {

	.fa-heart {

		padding-left: 50%;
	}

	.frame-block {

		flex-direction: row;
		justify-content: space-around;
	}

	.line-menu {

		width: 500px;
	}
}

@media screen and (min-width: 1900px) {

	.line-menu {

		width: 600px;
	}
}

